# Accessing MySQL in the Jupyter Notebook
Using the [ipython-sql](https://github.com/catherinedevlin/ipython-sql) package. Can have multiple connections in notebook, just refer to them when running SQL magics: `%%sql user@db_name`

In [5]:
import os
username = 'root'
password = os.environ.get('DBPW', None)

In [6]:
%load_ext sql
%sql mysql://$username:$password@localhost/recomeal

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: root@recomeal'

In [8]:
%%sql
select user_id from users where surname='Simpson'

1 rows affected.

[(1,)]

In [9]:
result = _
print(result)

+---------+
| user_id |
+---------+
|    1    |
+---------+

## Convert query result to Pandas dataframe

In [15]:
cooking = %sql select * from cooking_skill;
df = cooking.DataFrame()
df

3 rows affected.

   cooking_skill_id cooking_skill_level
0                 1            Beginner
1                 2        Intermediate
2                 3            Advanced